<div class="inner">
    <div class="footer-top">
        <div class="left">
             <ul>
                 <li><a href="javascript:;">一般信息</a></li>
                 <li><a href="javascript:;">会员制度 membership</a></li>
                 <li><a href="javascript:;">购买流程 purchase</a></li>
                 <li><a href="javascript:;">发货说明 shipments</a></li>
                 <li><a href="javascript:;">优惠说明 discount</a></li>
                 <li><a href="javascript:;">关于退换货 return</a></li>
                 <li><a href="javascript:;">快递查询 express</a></li>
             </ul>
             <ul>
                <li><a href="javascript:;">产品介绍</a></li>
                <li><a href="javascript:;">天生我裁 paintingAPP</a></li>
                <li><a href="javascript:;">眨眼APP zhayanAPP</a></li>
                
            </ul>
            <ul>
                <li><a href="javascript:;">关于我们</a></li>
                <li><a href="javascript:;">眨眼网介绍 introduce</a></li>
                <li><a href="javascript:;">品牌入驻designers</a></li>
                <li><a href="javascript:;">支付信息 payment</a></li>
                <li><a href="javascript:;">设计师后台 designer backstage</a></li>
                <li><a href="javascript:;">官方微信:zhayanwang</a></li>
            </ul>
            <ul>
                <li><a href="javascript:;">一般信息</a></li>
                <li><a href="javascript:;">会员制度</a></li>
                
            </ul>
        
        </div>
        <div class="right">
             <h3>扫码下载APP</h3>
             <img src="/static/img/wechatAPP.png">
        </div>
    </div>
    <div class="footer-bottom">
        <p style="color:white">Powered by <b>Winking</b>&nbsp;-&nbsp;Copyright © 2015-2018 zhayanwang.com &nbsp;-&nbsp;All Rights Reserved.&nbsp;&nbsp;<a href="javascript:;" style="color:white">京ICP备14059885号-1</a></p>
        <p style="color:white; padding-top:10px;"> 眨眼网|全球独立服装设计师<a href="javascript:;" style="color:white">原创服装</a>时尚&nbsp;&nbsp;&nbsp;&nbsp;联系电话：010-59001056</p>
    </div>
</div>