<!-- header上半部分 -->
<div class="header-top">
	<div class="header-logo">
		<a href="http://www.zhayanwang.com/"></a>
	</div>
	
	<div class="header-form">
		<div class="header-form-title">
			<p class="header-clothes header-s">美衣</p>
			<p class="header-design header-s">设计师</p>
		</div>
		<form action="" class="header-form-inner">
			<div class="search">
				<input type="text" placeholder="搜美衣">
				<input type="submit" value="搜索">
			</div>
			<p>
				<a href="javascript:;">连衣裙</a>
				<a href="javascript:;">长裤</a>
				<a href="javascript:;">衬衣</a>
				<a href="javascript:;">半身裙</a>
				<a href="javascript:;">长裤</a>
			</p>
		</form>
	</div>
</div>
<!-- header下半部分 滚动部分 -->
<div class="header-scroll" id="header-scroll">
	<div class="header-box">
		<div class="scroll-left">
			<h4 class="classify">分类</h4>
			<nav>
				<ul id="header-nav">
					<li class="now"><a href="http://localhost:2000/index.html">首页</a></li>
					<li><a href="http://localhost:2000/html/list.html">女装</a></li>
					<li><a href="javascript:;">男装</a></li>
					<li><a href="javascript:;">服装定制</a></li>
					<li><a href="javascript:;">人气单品</a></li>
					<li><a href="javascript:;">版权保护申明</a></li>
				</ul>
			</nav>
		</div>
		
		<div class="scroll-right">
			<div class="yc right_l" id="right_l">
				<span id="name"></span>欢迎您
				
				<span id="exit">退出</span>
			</div>
			<div class="right_r">
				<div class="log_reg" id="log_reg">
					<a href="http://localhost:2000/html/login.html">登录</a><b>|</b>
					<a href="http://localhost:2000/html/register.html">注册</a><b>|</b>
				</div>
				<div class="headerCart"><a href="http://localhost:2000/html/cart.html">购物车（<span id="headerNum">0</span>）</a></div>
			</div>
			
		</div>
	</div>
	
</div>