<!-- header上半部分 -->
<div class="header-top">
	<div class="header-logo">
		<a href="http://www.zhayanwang.com/"></a>
	</div>
	
	<div class="header-form">
		<div class="header-form-title">
			<p class="header-clothes header-s">美衣</p>
			<p class="header-design header-s">设计师</p>
		</div>
		<form action="" class="header-form-inner">
			<div class="search">
				<input type="text" value="搜美衣">
				<input type="submit" value="搜索">
			</div>
			<p>
				<a href="javascript:;">连衣裙</a>
				<a href="javascript:;">长裤</a>
				<a href="javascript:;">衬衣</a>
				<a href="javascript:;">半身裙</a>
				<a href="javascript:;">长裤</a>
			</p>
		</form>
	</div>
</div>
<!-- header下半部分 滚动部分 -->
<div class="header-scroll">
	<div class="scroll-left">
		<h4 class="classify">分类</h4>
		<nav>
			<ul>
				<li class="now">首页</li>
				<li>女装</li>
				<li>男装</li>
				<li>服装定制</li>
				<li>人气单品</li>
				<li>版权保护申明</li>
			</ul>
		</nav>
	</div>
	<div class="scroll-right">
        <p>
			<a href="javascript:;">登录</a><b>|</b>
			<a href="javascript:;">注册</a><b>|</b>
			<a href="javascript:;">购物车（<span>0</span>）</a>
		</p>
	</div>
</div>