<ul>
    <script type="text/html" id="list-template">
        {{each list item i}}
        <li>
        <div class="img">
            <a href="/html/detail.html?id={{ item.id }}" target="_blank"><img src="{{ item.img }}"></a>
        </div>
        <p class="title">{{ item.title }}</p>
        <p>
            <span class="price">￥{{ item.price }}</span>
            {{if item.e_blue}}
            <span class="e.blue">E{{ item.e_blue }}</span></p>
            {{/if}}
        </li>
        {{/each}}
   </script>
</ul>