
header{
    width: 100%;
    height: 188px;
    background: black;
}
.header-top{
    width: 1095px;
    height: 120px;
    margin: 0 auto;
    overflow: hidden;
    .header-logo a{
        display: block;
        margin-top: 19px;
        margin-left: 33px;
        float: left;
        width: 255px;
        height: 64px;
        background: url(/static/img/zhayanlogo-new.png);
    }
    .header-form{
        width: 305px;
        height: 76px;
        float: left;
        margin-left: 170px;
        margin-top: 28px;
        .header-form-title{
            width: 305px;
            height: 25px;
            .header-s{
                float: left;
                width: 60px;
                height: 25px;
                text-align: center;
                line-height: 25px;
                color: white;
            }
        }
        .header-form-inner{
            width: 305px;
            height: 50px;
            .search{
               width: 305px;
               height: 30px;
               border: 2px solid white;  
               input:nth-child(1){
                   width: 238px;
                   height: 26px;
                   border: none;
                   color: #757575;
                   padding-left: 10px;
                   float: left;
                   background: black;
               }
               input:nth-child(2){
                width: 63px;
                height: 26px;
                border: none;
                background: white;
                float: left;
               }
            }
            p{
                a{
                    color: white;
                }
            }
        }

    }
}
.header-scroll{
    width: 100%;
    height: 68px;
    background:black;
    .header-box{
        width: 1095px;
        height: 68px;
        margin: 0 auto;
        overflow: hidden;
            .scroll-left{
                width: 656px;
                height: 55px;
                float: left;
                margin-top: 13px;
                .classify{
                    width: 160px;
                    height: 54px;
                    background: white;
                    line-height: 55px;
                    color:#757575;
                    text-align: center;
                    float: left;
                }
            nav ul{
                height: 55px;
                margin-left: 15px;
                float: left;
                width: 479px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: white;
                li{ 
                    height: 55px;
                    line-height: 55px;
                    
                }
                a{
                    color: white;
                }
                .now{
                    background: url(/static/img/nav-arr.png) no-repeat center 38px;
                }
                
            }
        }
        .scroll-right{
            width: 400px;
            height: 55px;
            float: right;
            .yc{display: none;}
            .right_l{
                width: 200px;
                height: 55px;
                line-height: 55px;
                float: left;
                color: white;
                span:nth-child(2){
                    line-height: 55px;
                    margin-right: 20px;
               }
             }
             .right_r{
                width: 200px;
                height: 55px;
                color: white;
                float: right;
                
                .log_reg{
                    width: 100px;
                    float: left;
                   display: flex;
                   justify-content: space-between;
                   height: 55px;
                   line-height: 55px;
                   
                   a{
                    color: white;
                }
                }
                .yc{display: none;}
                .headerCart{
                    width: 70px;
                    height: 55px;
                    margin-left: 30px;
                    float: left;
                    line-height: 55px;
                    a{
                        color: white;
                    span{color: red;font-weight: bold;}
                    }
                }
            }
    }
}
}