@import "./component/style.scss";
@import "./component/header.scss";
@import "./component/footer.scss";
//轮播图
.carousel{
    width: 100%;
    height: 409px;
    margin-top:15px;
    position: relative;
    overflow: hidden;
    margin-bottom: 130px;
    ul{
        height: 409px;
        position: absolute;
        left: 0;
        top: 0;
        li{
            height: 409px;
            float: left; 
        }
        a{
            display: inline-block;
            width: 100%;
            height: 409px;
            img{
               vertical-align: top;
               }
        }
    }
    ol{
       width: 174px;
       height: 18px;
       display: flex;
       justify-content: space-between;
       align-items: center;
       position: absolute;
       bottom: 20px;
       left: 50%;
       margin-left: -87px;
       li{
           width: 18px;
           height: 18px;
           background: black;
           border-radius: 50%;
           opacity: .5;
           text-align: center;
           line-height: 18px;
           color: white;
           &.ac{background: #ff0000;}
       }
    }
    
}

//优选品牌
.good{
    margin-top: 120px;
    width: 1095px;
    height: 420px;
    margin: 0 auto;
    .good-title p{
        font-size: 14px;
        width: 300px;
        height: 32px;
        text-align: center;
        line-height: 32px;
        border: 1px solid black;
        margin: 0 auto;
        }
    .good-banner{
        margin-top: 20px;
        width: 905px;
        height: 326px;
        ul{
            width: 905px;
            height: 326px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-content:space-between;
            a{
                display: inline-block;
                width: 297px;
                height: 159px;
                img{vertical-align: top;}
            }
        }
    }
    .good-spot{
        width: 1095px;
        height: 40px;
        a{
            display: inline-block;
            width: 39px;
            height:11px;
            background: url(/static/img/spot.png) no-repeat center;
            float: right;
            margin-top: 18px;
        }
    }
}
 

//人气单品
.hot{
    width: 1095px;
    height: 1603px;
    margin: 0 auto;
    margin-top: 98px;
    .hot-title p{
        font-size: 14px;
        width: 300px;
        height: 32px;
        text-align: center;
        line-height: 32px;
        border: 1px solid black;
        margin: 0 auto;
    }
    // 商品列表
    .hot-banner{
        margin-top: 15px;
        width: 945px;
        margin-left: 30px;
        height: 1490px;

        .list-item{
            ul{
                width: 945px;
                height: 1490px;
                li{
                    float: left;
                    margin-right: 8px;
                    p{
                        text-align: center;
                        line-height: 20px;
                    }
                    span{
                        &:nth-child(1){
                            margin-right: 20px;
                        }
                        &:nth-child(2){color: #04b4ae}
                    }
                } 
            }
        }
    }
    .hot-spot{
        width: 1095px;
        height: 57px;
        a{
            display: inline-block;
            width: 39px;
            height:11px;
            background: url(/static/img/spot.png) no-repeat center;
            float: right;
            margin-top: 45px;
        }
    }
}


// 潮流女装
.fashionW{
    width: 1095px;
    height: 1593px;
    margin: 0 auto;
    margin-top: 98px;
    .fashionW-title{
        font-size: 14px;
        width: 300px;
        height: 32px;
        text-align: center;
        line-height: 32px;
        border: 1px solid black;
        margin: 0 auto;
    }
    // 商品列表
    .fashionW-banner{
        margin-top: 15px;
        width: 945px;
        margin-left: 30px;
        height: 1490px;
        .fashionW-item{
            ul{
                width: 945px;
                height: 1490px;
                li{
                    float: left;
                    margin-right: 8px;
                    p{
                        text-align: center;
                        line-height: 20px;
                    }
                    span{
                        &:nth-child(1){
                            margin-right: 20px;
                        }
                        &:nth-child(2){color: #04b4ae}
                    }
                } 
            }
        }
    }
    .fashionW-spot{
        width: 1095px;
        height: 57px;
        a{
            display: inline-block;
            width: 39px;
            height:11px;
            background: url(/static/img/spot.png) no-repeat center;
            float: right;
            margin-top: 45px;
        }
    }
}


//精品男装
.man{
    width: 1095px;
    height: 1593px;
    margin: 0 auto;
    margin-top: 98px;
    .man-title{
        font-size: 14px;
        width: 300px;
        height: 32px;
        text-align: center;
        line-height: 32px;
        border: 1px solid black;
        margin: 0 auto;
    }
    // 商品列表
    .man-banner{
        margin-top: 15px;
        width: 945px;
        margin-left: 30px;
        height: 1490px;
        .man-item{
            ul{
                width: 945px;
                height: 1490px;
                li{
                    float: left;
                    margin-right: 8px;
                    p{
                        text-align: center;
                        line-height: 20px;
                    }
                    span{
                        &:nth-child(1){
                            margin-right: 20px;
                        }
                        &:nth-child(2){color: #04b4ae}
                    }
                } 
            }
        }

    }
    .man-spot{
        width: 1095px;
        height: 57px;
        a{
            display: inline-block;
            width: 39px;
            height:11px;
            background: url(/static/img/spot.png) no-repeat center;
            float: right;
            margin-top: 45px;
        }
    }
}


//惊喜折扣
.surprise{
    width: 1095px;
    height: 1594px;
    margin: 0 auto;
    margin-top: 98px;
    .surprise-title{
        font-size: 14px;
        width: 300px;
        height: 32px;
        text-align: center;
        line-height: 32px;
        border: 1px solid black;
        margin: 0 auto;
    }
    // 商品列表
    .surprise-banner{
        margin-top: 15px;
        width: 945px;
        margin-left: 30px;
        height: 1489px;
        .surprise-item{
            ul{
                width: 945px;
                height: 1490px;
                li{
                    float: left;
                    margin-right: 8px;
                    p{
                        text-align: center;
                        line-height: 20px;
                    }
                    span{
                        &:nth-child(1){
                            margin-right: 20px;
                        }
                        &:nth-child(2){color: #04b4ae}
                    }
                } 
            }
        }
    }
    .surprise-spot{
        width: 1095px;
        height: 57px;
        a{
            display: inline-block;
            width: 39px;
            height:11px;
            background: url(/static/img/spot.png) no-repeat center;
            float: right;
            margin-top: 45px;
        }
    }
}


// section 眨眼网——全球设计师原创服装平台
section{
    width: 1095px;
    height: 200px;
    margin: 0 auto;
    .box{
        width: 1050px;
        height: 151px;
         margin-left: 28px; 
        background: url(/static/img/border.png) no-repeat;
        background-size: 1050px 150px;
        h6{
            font-size: 20px;
            text-align: center;
        }
        p{
            text-indent: 2em;
            font-size: 20px;
            line-height: 36px;
            width: 980px;
            margin: 0 auto;
            color: #444444;
        }
    }
    
}